<%- include("header") -%>
    <div class="box" id="heading">
        <h1> about this page</h1>
        <p class="item"> =Lorem ipsum dolor, sit amet consectetur adipisicing elit. Suscipit esse fugiat impedit
            molestias laboriosam
            ipsam voluptate debitis quis facere? Cumque, soluta. Autem recusandae iure, sunt itaque atque
            perspiciatis
            tempore eveniet.</p>
    </div>
    <%- include("footer") -%>